In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy as np
pd.set_option('display.max_columns', 500)

In [23]:
df = pd.read_csv("movies_complete.csv")
df.columns

Index(['id', 'title', 'tagline', 'release_date', 'genres',
       'belongs_to_collection', 'original_language', 'budget_musd',
       'revenue_musd', 'production_companies', 'production_countries',
       'vote_count', 'vote_average', 'popularity', 'runtime', 'overview',
       'spoken_languages', 'poster_path', 'cast', 'cast_size', 'crew_size',
       'director'],
      dtype='object')

In [24]:
df = pd.read_csv("movies_complete.csv")
df =df[['title','poster_path','vote_count','vote_average','budget_musd','revenue_musd','popularity']]
df.head()

,title,poster_path,vote_count,vote_average,budget_musd,revenue_musd,popularity
0,Toy Story,<img src='http://image.tmdb.org/t/p/w185//uXDf...,5415.0,7.7,30.0,373.554033,21.946943
1,Jumanji,<img src='http://image.tmdb.org/t/p/w185//vgpX...,2413.0,6.9,65.0,262.797249,17.015539
2,Grumpier Old Men,<img src='http://image.tmdb.org/t/p/w185//1FSX...,92.0,6.5,NaN,NaN,11.712900
3,Waiting to Exhale,<img src='http://image.tmdb.org/t/p/w185//4wjG...,34.0,6.1,16.0,81.452156,3.859495
4,Father of the Bride Part II,<img src='http://image.tmdb.org/t/p/w185//lf9R...,173.0,5.7,NaN,76.578911,8.387519

# The best and the worst movies....(part 1)

In [31]:
from IPython.display import HTML

In [32]:
df_best = df

In [33]:
subset = df_best.iloc[:5]
subset

,title,poster_path,vote_count,vote_average,budget_musd,revenue_musd,popularity
0,Toy Story,<img src='http://image.tmdb.org/t/p/w185//uXDf...,5415.0,7.7,30.0,373.554033,21.946943
1,Jumanji,<img src='http://image.tmdb.org/t/p/w185//vgpX...,2413.0,6.9,65.0,262.797249,17.015539
2,Grumpier Old Men,<img src='http://image.tmdb.org/t/p/w185//1FSX...,92.0,6.5,NaN,NaN,11.712900
3,Waiting to Exhale,<img src='http://image.tmdb.org/t/p/w185//4wjG...,34.0,6.1,16.0,81.452156,3.859495
4,Father of the Bride Part II,<img src='http://image.tmdb.org/t/p/w185//lf9R...,173.0,5.7,NaN,76.578911,8.387519

In [34]:
HTML(subset.to_html(escape=False))

In [36]:
df_best.shape

(44691, 7)

In [39]:
df_best.isnull().sum()

title           0
poster_path     0
vote_count      0
vote_average    0
budget_musd     0
revenue_musd    0
popularity      0
dtype: int64

In [38]:
df_best.fillna(method='ffill', inplace=True)